[user]
	name = Cat Stevens
	email = catb0t@protonmail.ch
[push]
	default = simple
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[credential]
	helper = store
[core]
  editor = xo
  autocrlf = false
  excludesfile = /home/cat/.config/git/ignore

